<h3 style="margin-top:50px;"><%= task %></h3>
<div style="margin-left:10%;margin-top:30px;">
<% if task == 'Pre-requisites' %>
  <div class="row mbl">
    <div class="span3">
      <dl class="palette palette-turquoise">
        <dt>Have a Phone Number</dt>
        <dd></dd>
      </dl>
    </div>
    <div class="span3">
      <dl class="palette palette-turquoise">
        <dt>Have a Credit Card</dt>
        <dd></dd>
      </dl>
    </div>
    <img src="images/icons/Retina-Ready@2x.png" alt="Retina-Ready" style="width:60px;margin-left:20px;">
  </div>
<% end %>
<% if task == 'Buy Domain' %>
  <div class="row mbl">
    <div class="span6">
      <h4>We recommend you buy a domain name from the following vendor:</h4>
    </div>
    <div class="span3">
      <dl class="palette palette-clouds" style="color:#1ABC9C;">
        <dt>Get one from google.com</dt>
        <dd></dd>
      </dl>
    </div>
  </div>
  <div class="row mbl">
    <div class="span6">
      <h4>If you need help, please refer to this instructional video:</h4>
    </div>
    <div class="span3">
      <dl class="palette palette-clouds" style="color:#1ABC9C;">
        <dt>Watch Video</dt>
        <dd></dd>
      </dl>
    </div>
  </div>
<% end %>
<% if task == 'Get Google Apps' %>
<div class="row mbl">
    <div class="span6">
      <h4>You need to install google apps for your new domain, go ahead:</h4>
    </div>
    <div class="span3">
      <dl class="palette palette-clouds" style="color:#1ABC9C;">
        <dt>Install Google Apps</dt>
        <dd></dd>
      </dl>
    </div>
  </div>
  <div class="row mbl">
    <div class="span6">
      <h4>If you need help, please refer to this instructional video:</h4>
    </div>
    <div class="span3">
      <dl class="palette palette-clouds" style="color:#1ABC9C;">
        <dt>Watch Video</dt>
        <dd></dd>
      </dl>
    </div>
  </div>
<% end %>
<% if task == 'Link account' %>
  <div class="row mbl">
    <div class="span6">
      <h4>Let us verify your custom email address and link it to your social academy user:</h4>
    </div>
    <div class="span3">
      <dl class="palette palette-clouds" style="color:#1ABC9C;">
        <dt>Verify & Link</dt>
        <dd></dd>
      </dl>
    </div>
  </div>
  <div class="row mbl">
    <div class="span6">
      <h4>If you need help, please refer to this instructional video:</h4>
    </div>
    <div class="span3">
      <dl class="palette palette-clouds" style="color:#1ABC9C;">
        <dt>Watch Video</dt>
        <dd></dd>
      </dl>
    </div>
  </div>
<% end %>
</div>