<div class="container">
  <div style="padding:30px;margin:0px;background-color:#ECF0F1;">
    <h1>Welcome to your Profile</h1>
    <p>This is your first time here, look around, here you'll find our thorough analysis of your digital presence.</p>
  </div>
  <div class="row" style="margin-top:30px;">
    <div class="span9">
      <div style="padding:30px;margin:0px;background-color:#1ABC9C;color:white;border-radius:4px;">
        <h1>Paul's Bookstore</h1>
        <div style="margin-left:0px;margin-top:30px;padding-right:60px;background-color:#ECF0F1;padding:20px;border-radius:4px;color:#34495E;">
          <h2>Custom Email <a href="#" class="btn btn-success btn-large" style="float:right;width:120px;">100%</a></h2>
          <h2>Web Page <a href="#" class="btn btn-warning btn-large" style="float:right;width:110px;">90%</a></h2>
          <h2>Foursquare Profile <a href="#" class="btn btn-warning btn-large" style="float:right;width:80px;">60%</a></h2>
          <h2>Facebook <a href="#" class="btn btn-warning btn-large" style="float:right;width:40px;">20%</a></h2>
          <h2>Yelp <a href="#" class="btn btn-default btn-large" style="float:right;width:20px;">0%</a></h2>
          <h2 style="mrgin-top:10px;">Extras <a href="#" class="btn btn-info btn-large" style="float:right;">Start now</a></h2>
        </div>
      </div>
    </div>

    <div class="span3" style="padding-top:0px;">
      <div class="demo-download">
        <h1>Score: 16</h1>
      </div>

      <a href="<%= tips_path %>" class="btn btn-primary btn-large btn-block">Get Better!</a>

      <p class="demo-download-text">Browse through the tips and complete them to get a better score.</p>
    </div>
</div> <!-- /download area -->
</div>