<div class="container">
  <div style="padding:30px;margin:0px;background-color:#ECF0F1;">
    <h1>Welcome to the Tips Section</h1>
    <p>This is your first time here, so feel free to browse through our selection. Here you'll find our most thoughful tips to grow your business.</p>
  </div>
</div>