<div class="container">
  <div style="padding:30px;margin:0px;background-color:#ECF0F1;">
    <h1>Welcome to the Tips Section</h1>
    <p>This is your first time here, so feel free to browse through our selection. Here you'll find our most thoughful tips to grow your business.</p>
  </div>
  <h1 style="margin-top:30px;" class="mbl pbl">Tips</h1>
  <div class="row demo-samples">
    <div class="span12">
      <div class="todo mrm">
        <ul>
          <li class="todo-done">
            <div class="todo-icon fui-photo"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Get <strong>professional</strong> photographs
              </h4>
              for your <strong>foursquare</strong> account
            </div>
          </li>
          <li>
            <div class="todo-icon fui-cross"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Sync your <strong>details</strong>
              </h4>
              for your <strong>facebook</strong> and <strong>foursquare</strong>
            </div>
          </li>
          <li>
            <div class="todo-icon fui-new"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Get a <strong>professional</strong> logo
              </h4>
              for your <strong>business</strong>
            </div>
          </li>
          <li>
            <div class="todo-icon fui-location"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Signup for <strong>Yelp</strong>
              </h4>
              It will bring more customers
            </div>
          </li>
          <li>
            <div class="todo-icon fui-eye"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Fix <strong>broken</strong> image
              </h4>
              from <strong>website</strong>
            </div>
          </li>
        </ul>
      </div>
    </div> <!-- /todo list -->
  </div>
</div>