<div class="container" style="">
  <div style="padding:30px;margin:0px;background-color:#ECF0F1;">
    <h1>Welcome to the Tracks Section</h1>
    <p>This is your first time here, so feel free to browse through our selection of intresting stuff to do in order to get your business going!</p>
  </div>
  <% email_tracks = [
    ['Custom Domain','Get a unique email address','$ 1/mo','30 min','regular', 'huge'],
    ['Gmail','Not so cool gmail address','free','10 min','easy', 'regular']
  ]
  %>
  <% social_tracks = [
    ['Foursquare','Vibrant community of explorers','free','30 min','easy', 'huge'],
    ['Facebook','Everyone is here','free','20 min','easy', 'regular'],
    ['Yelp','Yellow pages for the internet','free','20 min','regular', 'regular']
  ]
  %>
  <% web_tracks = [
    ['Strikingly','Beautiful web site in minutes','$ 9/mo','25 min','regular', 'huge'],
    ['Custom Built','Get a designer to custom build it','~$1000','days','hard', 'huge']
  ]
  %>
  <% extra_tracks = [
    ['Open Table','Online reservation system','comission','30 min','hard', 'huge'],
    ['Square','Accept card payments with your phone','comission','40 min','hard', 'huge']
  ]
  %>
  <% groups = [
    { title: 'Email', tracks: email_tracks },
    { title: 'Social Profiles', tracks: social_tracks },
    { title: 'Web Page', tracks: web_tracks },
    { title: 'Extras', tracks: extra_tracks }
  ]
  %>
  <% groups.each do |group| %>
    <!-- <div style="background-color:#BDC3C7;padding:0px;margin:0px;"> -->
    <%= render partial: 'grouped_tracks', locals: { title: group[:title], tracks: group[:tracks] } %>
    <!-- </div> -->
  <% end %>
</div>